In [ ]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup 
import requests

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

In [ ]:
df_holiday = pd.DataFrame()

for year in np.arange(2017,2022):
    url = 'https://www.timeanddate.com/holidays/taiwan/'+str(year)
    r = requests.get(url)
    df_holiday_temp = pd.read_html(r.text)[0]
    df_holiday_temp.columns = df_holiday_temp.columns.get_level_values(0)
    df_holiday_temp = df_holiday_temp.dropna(how='all')
    df_holiday_temp = df_holiday_temp[['Date', 'Name', 'Type']]
    df_holiday_temp['Date'] = str(year) + ' ' + df_holiday_temp['Date']
    df_holiday_temp['Date'] = pd.to_datetime(df_holiday_temp['Date'], errors='coerce')
    df_holiday_temp = df_holiday_temp[~df_holiday_temp['Date'].isna()]
    
    df_holiday = pd.concat([df_holiday, df_holiday_temp], axis=0, ignore_index=True)

df_holiday = df_holiday[df_holiday['Type']=='National holiday']
df_holiday = df_holiday.drop_duplicates(subset=['Date'])
df_holiday = df_holiday.set_index('Date')
df_holiday.loc['2021-12-31', ['Name','Type']]=np.nan
df_holiday = df_holiday.asfreq('D')
df_holiday.loc[df_holiday.index.weekday>=5, 'Name'] = 'weekend'
df_holiday.loc[df_holiday.index.weekday>=5, 'Type'] = 'weekend'
df_holiday.columns = 'holiday_' + df_holiday.columns

df_holiday = df_holiday.reset_index()
df_holiday = df_holiday.rename(columns={'Date':'date'}) 

df_holiday = df_holiday.fillna('regular')

df_holiday

           date                          holiday_Name      holiday_Type
0    2017-01-01                               weekend           weekend
1    2017-01-02  Republic Day/New Year's Day observed  National holiday
2    2017-01-03                               regular           regular
3    2017-01-04                               regular           regular
4    2017-01-05                               regular           regular
...         ...                                   ...               ...
1821 2021-12-27                               regular           regular
1822 2021-12-28                               regular           regular
1823 2021-12-29                               regular           regular
1824 2021-12-30                               regular           regular
1825 2021-12-31                               regular           regular

[1826 rows x 3 columns]

In [ ]:
df_holiday.to_csv('holiday.csv')

In [ ]:
read.csv()